$leftbar_width:150px;
$color_orange:#fa7d19;


.body__container{
    background-color: #f5f5f5;
    width:100%;
    padding: 30px 0;
    display: flex;
    justify-content:center;
}
.body__fluid{
    width: 90%;
}

/** Thanh thong bao **/
.dialog{
    display: none;
    align-items: center;
    justify-content: center;
    position:fixed;
    left: 0;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(70, 68, 68, 0.527);
    transition-duration: 0.5s;
    .buy-form{
        flex-shrink: 0;
        width: 400px;
        height: 430px;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        .dialog__form{
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-rows: repeat(4, minmax(34px, auto)) 30px auto;
            grid-auto-rows: 60px;
            column-gap: 15px;
            row-gap:15px;
            div:first-child{
                grid-column: span 3;
            }
            div:nth-child(2){
                grid-column: span 3;
            }
            div:nth-child(6){
                grid-column: span 3;
            }
            .btn-buy{
                grid-column-end: 4;
                grid-row-end:7;
            }
            .btn-comeback{
                color: #354053c5;
                justify-self: end;
                width: 70%;
                outline: none;
                grid-column-end: 3;
                grid-row-end:7;
            }
            label{
                color: #3c4b64;
                font-weight: normal;
                max-height: 20px;
            }
            .btn-comeback:hover{
                background-color: rgba(128, 128, 128, 0.185);
            }
        }
    }
    .notifice{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(39, 36, 36, 0.548);
        color: white;
        width: 200px;
        height: 110px;
        border-radius: 3px;
        i{
            font-size: 40px;
            color: #69ce62;
        }
        .notifice__text{
        }
    }
    .loader {
        border: 6px solid #3131312f;
        /* Light grey */
        border-top: 6px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
.dialog--show{
    display: flex;
}
/** Header **/

$header_color_bg: #fa7d19;
$header_color_btn: #3300FA;
$header_color_btn_dark: #d36b16;
$header_color_icon: white;
$header_icon_pl: 30px;
$header_logoIcon_size: 45px;
$header_cartIcon_size: 20px;
.header{
    display: flex;
    background-image: linear-gradient(to bottom, #f8913d,#f8a45f, #f8913d);
    // background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    padding: 10px 0;
    flex-direction: column;
    .header__top{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        width: 90%;
        justify-content: flex-end;
        li~li{
            padding-left: 10px;
        }
    }
    a{
        color: white;
    }
}
// top logo
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    i{
        color: $header_color_icon;
        font-size: 100px;
    }
}
.header__bottom__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
// bottom
.header__bottom{
    width: 100%;
}
// search bar
.header__bottom__search{
    display: flex;
    width: 95%;
    // button
    .header__bottom__search__btn{
        padding: 0;
        margin: 0;
        border-radius: 0 3px 3px 0;
        background-color: $header_color_bg;   
        height: 40px;
        border: 4px solid white;
        outline: none;
        width: 120px;
    }
    .header__bottom__search__btn:hover{
        background-color: $header_color_btn_dark;
    }
    // imput
    .header__bottom__search__input{
        border-radius: 3px 0px 0px 3px;
        padding: 0 10px;
        color:black;
        outline: none;
        border: none;
        font-size: 18px;
        width: calc(100% - 120px);
        min-width: 140px;
    }
}
// cart logo
.header__bottom__icon{
    width: 5%;
    margin-left: 20px;
    font-size:20px;
    color: white;
    position: relative;
    #jsSelectedProducts{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 16px;
        top:0;
        div{
            padding: 0 3px;
            text-align: center;
            background-color: white;
            color: #e04f0b;
            border: 1px solid #fa7d19;
            font-size: 10px;
            font-weight: bold;
            border-radius:50%;
        }
    }
}

// text behide search bar
.header__bottom__list{
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    .header__bottom__item  ~ .header__bottom__item{
        margin-left: 10px;
    }
}

// navbar
.mynavbar{
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid #eaeaea;
    width: 100%;
    display: flex;
    background-color: white;
    .mynavbar__item{
        text-align: center;
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: center;
        list-style:none;
        width: 20%;
        cursor: pointer;
    }
    .mynavbar__item:hover{
        color:red;
    }
}
// web content
.content__container{
    display: flex;

}
// leftbar
.leftbar{
    background-color: white;
    padding-left: 10px;
    width: $leftbar_width;
    transform-origin: 0 0;
    transition-duration: 1s;
    .leftbar__title{
        display: flex;
        align-items: center;
        span {
            margin-left: 7px;
            padding:10px 0;
        }
    }
    .leftbar__list{
        border-top: 1px solid #eaeaea;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 12px;
        padding-top: 20px;
        .leftbar__list__item{
            cursor: pointer;
        }
        .leftbar__list__item ~ .leftbar__list__item{
            margin-top: 12px;
        }
        .leftbar__list__item:hover{
            color:red;
        }
    }
}


/** content (product list) **/
.content{
    width: calc(100% - #{$leftbar_width});
}
//content navbar
.content__navbar__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 232, 232);
    align-items: center;
    overflow-x: auto;
}
.content__navbar{
    display: flex;
    align-items:center;
    padding: 10px 20px;
    span{
        margin-right: 20px;
    }
}
.content__navbar__sort{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.content__navbar__sort__item{
    text-align: center;
    padding: 6px 20px;
    background-color: #fff;
    cursor: pointer;
}
.content__navbar__sort__item ~ .content__navbar__sort__item{
    margin-left:10px;
}
.content__navbar__sort__item:hover{
    background-color: #fa7d19;
}
.content__navbar__pagechange{
    button{
        border:none;
        background-color: white;
        margin-right: 3px;
        outline: none;
    }
}
.navbar__sort__dropdown{
    position: relative;
    width: 170px;
    margin-left: 10px;
    background-color: #fff;
    cursor: pointer;

    .navbar__sort__dropdown--show{
        padding: 6px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__sort__dropdown--hide{
        display: none;
        position: absolute;
        padding: 0;
        list-style: none;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: white;
        li{
            width: 100%;
            padding: 6px 20px;
        }
    }
}
.navbar__sort__dropdown:hover .navbar__sort__dropdown--hide{
    display: inline-block;
}
.navbar__sort__dropdown--hide li:hover{
    background-color: #fa7d19;
}
//content products
.content__products{
    padding: 0px 0 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    .padding-l-r{
        padding:0 10px;
    }
    .content__products__card{
        height: 329px;
        width: 192px;
        margin: 15px 0 0 15px;
        background-color: white;
        color: #333333;
        border-radius:2px;
        transition-duration: 0.1s;
        box-shadow: 1.5px 1.5px 5px 1.5px rgba(92, 90, 90, 0.37);
        a{
            color: #333333;
            text-decoration: none;
        }
        .content__products__card__img{
            height: 58%; //191
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-height: 100%;
                max-width: 100%;
            }
        }
        .content__products__card__state{
            height: 7%;
            font: size 14px;
        }
        .content__products__card__description{
            height: 14%;
            overflow: auto;
            font-size:12px;
        }
        .content__products__card__cost{
            height: 7%;
            font-size:16px;
            color: red;
            text-align: right;
        }
        .content__products__card__icon__container{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 7%;
            color: red;
            i{
                cursor: pointer;
            }
        }
        .content__products__card__position{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 7%;
            font-size: 12px;
        }
    }
    .content__products__card:hover{
        transform: translateY(-3px);
        box-shadow: 0px 0px 12px 2px rgba(92, 90, 90, 0.473);
    }
}
/** Home Detail **/
.HomeDetail{
    width: 90%;
    background-color: white;
    color: #000000cc;
}
.detail__group{
    display: flex;
    flex-direction: row;
    width: 100%;

    .detail__group__left, .detail__group__right{
        padding: 12px;
    }
    .detail__group__left{
        width: 40%;
        .detail__group__left__ImgContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 335px;
            width: 100%;
            img{
                max-width: 100%;
                max-height:100%;
            }
        }
        .detail__group__left__MultiImgContainer{
            height: 75px;
            margin: 5px 0;
            padding: 0;
            display: flex;
            list-style: none;
            overflow: auto;
            padding-bottom: 3px;
            li{
                text-align: center;
                white-space:nowrap;
                height: 100%;
                width: 75px;
                flex-shrink: 0;
                img{
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            li ~ li{
                margin-left: 5px;
            }
            .ImgBorder{
                border: 1.4px solid #a37e60;
            }
        }
        .detail__group__left__MultiImgContainer::-webkit-scrollbar {
            width: 7px;
            height: 7px;
            background-color: rgba(53, 71, 44, 0.096);;
            border-radius: 3px;
        } 
        .detail__group__left__MultiImgContainer::-webkit-scrollbar-thumb {
            background-color: #615f5f3d;
            border-radius:20px;
        }
        .detail__group__left__MultiImgContainer::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
    .detail__group__right{
        width: 60%;
        .detail__group__right__name{
            font-size: 20px;
        }
        .detail__group__right__SellInfo{
            color: #0000008a;
            font-size:12px;
            margin-bottom: 8px;
            .comment{
                padding-right: 7px;
                border-right: 2px solid #6968685e;
            }
            .sold__number{
                padding-left: 7px;
                padding-right: 1px;
            }
        }
        .detail__group__right__description{
            font-size:17px;
            color:#000000d8;
            width: 100%;
            height: 100px;
        }
        .detail__group__right__cost{
            height: 65px;
            padding: 15px 0;
            font-size: 25px;
            color: #e97618;
        }
        .detail__group__right__order{
            color: #0000008a;
            list-style: none;
            padding: 0;
            margin: 0;
            .detail__group__right__order__item{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                width: 100%;
                .detail__group__right__order__item__title{
                    flex-shrink: 0;
                    width: 90px;
                }
                .detail__group__right__order__item__content{
                    display: flex;
                    width: calc(100% - 90px);
                    overflow:auto;
                    list-style: none;
                    padding: 0;
                    color: #000000cc;
                    align-items: center;
                    .detail__group__right__order__item__content__item{
                        position: relative;
                        border: 1px solid rgba(0,0,0,.09);
                        padding: 4px 12px;
                        cursor: pointer;
                        .CheckedIcon{
                            display: none;
                            position: absolute;
                            right:0;
                            bottom:0;
                            color:rgb(9, 151, 9)
                        }
                    }
                    .detail__group__right__order__item__content__item ~ .detail__group__right__order__item__content__item{
                        margin-left: 7px;
                    }
                    .detail__group__right__order__item__content__item:hover{
                        border: 1px solid #e97618;
                        color: #ce6b19;
                    }
                    .ChoosenOrderBorder{
                        border: 1.4px solid #41aa4c;
                    }
                    .item__number__group{
                        margin-right:5px;
                        input{
                            width: 42px;
                            border: 1px solid rgba(0,0,0,.09);
                            outline: none;
                        }
                    }
                    .text_availabel{
                        margin-left: 10px;
                    }

                }
            }
        }
        .detail__group__right__btn{
            display: flex;
            font-size:14px;
            align-items: center;
            .btn{
                flex-shrink: 0;
                font-family: inherit;
                border: none;
                outline: none;
                font-weight: 500;
                border-radius:3px
            }
            .detail__group__right__btn__left{
                padding: 10px 20px;
                border:1.5px solid #f85312;
                background-color: white;
                font-weight: 600;
                color: #f85312;
                margin-right: 5px;
            }
            .detail__group__right__btn__right{
                padding: 11.5px 20px;
                background-color: #f85312;
                color: white;
            }
        }
    }
}

/** Cart **/
.home-cart{
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, auto);
    row-gap: 24px;
    .home-cart__group{
        width: 100%;
        background-color: white;
        // nth-1
        .cart__list{
            font-weight: normal;
            thead{
                background-color: #fa7e1915;
            }
            img{
                max-width: 80px;
                max-height: 80px;
            }
            th {
                padding-left: 10px;
            }
            td.cart__table__description{
                div{
                    font-size:14px;
                    max-height: 80px;
                    max-width: 224px;
                    min-width: 200px;
                    overflow: auto;
                }
                //scroll bar
                div::-webkit-scrollbar {
                    width: 7px;
                    height: 7px;
                    background-color: transparent;
                    border-radius: 3px;
                } 
                div::-webkit-scrollbar-thumb {
                    background-color: rgba(48, 49, 47, 0.5);
                    border-radius:20px;
                }
                div::-webkit-scrollbar-track {
                    background-color: transparent;
                }
            }
            th:first-child{
                text-align: center;
            }
            td:first-child{
                text-align: center;
                vertical-align:middle;
            }
            //Màu chữ của giá tiền
            .cart__table__item__cost{
                font-weight: 600;
                color:#e25017;
            }
            .cart__table__item__soluong input{
                border: none;
                background-color: rgba(189, 188, 188, 0.24);
                outline:none;
                width: 50px;
            }
        }
        .home-cart__group__left, .home-cart__group__right{
            display: flex;
            align-items: center;
            li{
                padding: 8px;
            }
        }
        .home-cart__group__right{
            #jsBuyNowCost{
                font-size: 16px;
                font-weight: 600;
                color:#e25017;
            }
            button{
                border: none;
                outline:none;
                padding: 3px 10px;
                margin: 0;
                background-color: #f85312;
                color: white;
                border-radius: 5px;
            }

        }
    }
    .home-cart__group--buy{
        display: flex;
        justify-content: space-between;
    }
}
// .cart__BuyForm{
//     position: fixed;
//     left: 0;
//     right: 0;
//     top:0;
//     bottom: 0;
//     background-color: rgba(39, 36, 36, 0.548);
//     .cart__BuyForm__dialog{
        
//     }
// }
.cart__BuyForm--show{
    display: block;
}

/** Login **/
.login__container{
    display: flex;
    padding: 15px;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fa7d19;
    
    .login__container__logo{
        text-align: center;
        width: 50%;
        i{  
            color:white;
        }
    }
    .login__container__form{
        background-color: white;
        padding: 15px;
        width: 50%;
        border-radius: 0.3em;
        input{
            display: block;
            width: 100%;
            border: none;   
            outline: none;
            background-color: rgba(128, 128, 128, 0.315);
        }
        .form__item ~ .form__item{
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 690px) {
    .header{
        padding-left: 5px;
        padding-right: 5px;
    }
    .body__container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .content__container{
        .leftbar{
            display: none;
            width: 0;
            transform: scaleX(0);
        }
        .content{
            width: 100%;
            .content__products{
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width: 476px){
    .content__products{
        .content__products__card{
            width: 140px;
            height: 230px;
            margin: 10px 0 0 10px;
            .content__products__card__cost{
                font-size:12px
            }
            .content__products__card__icon__container{
                i{
                    font-size:10px;
                }
            }
            .content__products__card__position{
                font-size:12px;
            }
        }
    }
    .dialog{
        .buy-form{
            width: 350px;
            .tinh_thanhPho label{
                overflow: hidden;
            }
        }
    }
}

@media screen and (max-width:670px){
    //detail
    .detail__group{
        flex-direction:column;
        .detail__group__left{
            width: 90%;
        }
        .detail__group__right{
            width: 100%;
        }
    }
}

