<div class="login-page">
    <div class="login-page__logo-group">
        <i class="icon-logoDesignBlack" style="font-size:250px;"></i>
    </div>
    <div class="login-page__form-group my-form">
        <form method="POST" action="/auth/admin/login">
            <div class="mb-3 my-form__item">
                <label for="username" class="form-label">Admin</label>
                <input name="username" type="text" class="form-control">
            </div>
            <div class="mb-3 my-form__item">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control">
            </div>
            <button type="submit" value="submited" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>