<div class="admin__product__create">
    <form class="row g-3" method="POST" action="/admin/products/create">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" placeholder="Tên sản phẩm ...">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cost</label>
            <input name="cost" type="text" class="form-control" placeholder="ex: 300.000">
        </div>
        <div class="col-12 admin__product__create__InputGroup">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" type="text" class="form-control CustomScroll" rows="3"
                placeholder="Mô tả ..."></textarea>
        </div>
        <div class="col-12 admin__product__create__InputGroup">
            <label for="inputAddress" class="form-label">City</label>
            <textarea name="position" type="text" class="form-control CustomScroll" rows="3"
                placeholder="Mô tả ..."></textarea>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputAddress" class="form-label">Image link</label>
            <textarea name="img" type="text" class="form-control CustomScroll jsImageInput" rows="3"
                preShow="#jsPreShowImage"
                placeholder="Đường dẫn đến hình ảnh 1&#10;Đường dẫn đến hình ảnh 2&#10;Đường dẫn đến hình ảnh 3 ..."></textarea>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputAddress" class="form-label">Image pre show</label>
            <ul class="admin__product__create__InputGroup__Images CustomScroll" id="jsPreShowImage">
                <!-- Javascript working -->
            </ul>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputPassword4" class="form-label">Shape name</label>
            <textarea name="shapes" type="text" class="form-control CustomScroll" rows="3"
                placeholder="Tên hình dáng 1&#10;Tên hình dáng 2&#10;Tên hình dáng 3"></textarea>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputPassword4" class="form-label">Color name</label>
            <textarea name="colors" type="text" class="form-control CustomScroll" rows="3"
                placeholder="Tên màu sắc 1&#10;Tên màu sắc 2&#10;Tên màu sắc 3"></textarea>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputPassword4" class="form-label">Shape image links</label>
            <textarea name="shapeLinks" type="text" class="form-control CustomScroll jsImageInput" rows="3"
                preShow="#preShowShape"
                placeholder="Đường dẫn ảnh 1&#10;Đường dẫn ảnh 2&#10;Đường dẫn ảnh 3..."></textarea>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputPassword4" class="form-label">Color image link</label>
            <textarea name="colorLinks" type="text" class="form-control CustomScroll jsImageInput" rows="3"
                preShow="#preShowColor"
                placeholder="Link hình ảnh màu 1&#10;Link hình ảnh màu 2&#10;Link hình ảnh màu 3..."></textarea>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputAddress" class="form-label">Shape image pre show</label>
            <ul class="admin__product__create__InputGroup__Images CustomScroll" id="preShowShape">
                <!-- Javascript working -->
            </ul>
        </div>
        <div class="col-md-6 admin__product__create__InputGroup">
            <label for="inputAddress" class="form-label">Color image pre show</label>
            <ul class="admin__product__create__InputGroup__Images CustomScroll" id="preShowColor">
                <!-- Javascript working -->
            </ul>
        </div>
        <div class="col-12 admin__product__create__InputGroup" id="jsAdminProductCreateNotifi">

        </div>
        <div class="col-12 admin__product__create__InputGroup">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>