<div class="AdminContainer__body__navbar CustomScroll">
    <div class="AdminNavbar__top CustomScroll">
        <ul class="AdminNavbar__top__left">
            <li class="AdminNavbar__list__item">
                <i class="material-icons color--red">menu</i>
            </li>
            <li class="AdminNavbar__list__item">
                Dashboard
            </li>
            <li class="AdminNavbar__list__item">
                Users
            </li>
            <li class="AdminNavbar__list__item">
                Settings
            </li>
        </ul>
        <ul class="AdminNavbar__top__right">
            <li class="AdminNavbar__list__item">
                <i class='far fa-bell' style="font-size:15px;"></i>
            </li>
            <li class="AdminNavbar__list__item">
                <i class="material-icons">format_list_bulleted</i>
            </li>
            <li class="AdminNavbar__list__item">
                <i class="material-icons">mail_outline</i>
            </li>
        </ul>
    </div>
    <div class="AdminNavbar__bottom CustomScroll">
        <span>Home</span><span class="AdminNavbar__bottom__division"> / </span><span>Dashboard</span>
    </div>
</div>