<div class="AdminLeftbar">
    <div class="AdminLeftbar__content CustomScroll">
        <!-- leftbar title -->
        <h3 class="AdminLeftbar__header">
            <a href="/admin" class="AdminLeftbar__header__link">
                <div class="AdminLeftbar__header__text">
                    <i class="fa fa-gears AdminLeftbar__header__icon"></i>
                    <span>ADMIN</span>
                </div>
            </a>
        </h3>
        <ul class="AdminLeftbar__list">
            <li>
                <a class="AdminLeftbar__list__item" href="/admin/databoard">
                    <i class="LeftbarIcon fa fa-area-chart"></i>
                    <span class="AdminLeftbar__list__item__text color--gray">Databoard</span>
                </a>
            </li>
            <!-- list title -->
            <li class="AdminLeftbar__list__item__title">
                EXTRAS
            </li>
            <!-- pages -->
            <li class="AdminLeftbar__list__item__dropdown">
                <div class="admin__item__dropdown__show">
                    <div class="dropdown__show__content">
                        <i class="LeftbarIcon far fa-star"></i>
                        <span class="AdminLeftbar__list__item__text color--gray">Pages</span>
                    </div>
                    <i class="fa fa-angle-left DropdownIcon"></i>
                </div>
                <ul class="admin__item__dropdown__hide">
                    <li class="admin__dropdown__hide__item">
                        <a href="/home">
                            <div class="admin__dropdown__hide__item__text">home</div>
                        </a>
                    </li>
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/users/table">
                            <div class="admin__dropdown__hide__item__text">user</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- orders -->
            <li class="AdminLeftbar__list__item__dropdown">
                <div class="admin__item__dropdown__show">
                    <div class="dropdown__show__content">
                        <i class="LeftbarIcon far fa-clipboard"></i>
                        <span class="AdminLeftbar__list__item__text color--gray">Orders</span>
                    </div>
                    <i class="fa fa-angle-left DropdownIcon"></i>
                </div>
                <ul class="admin__item__dropdown__hide">
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/orders/table">
                            <div class="admin__dropdown__hide__item__text">Table</div>
                        </a>
                    </li>
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/orders/trash">
                            <div class="admin__dropdown__hide__item__text">Trash</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- list title -->
            <li class="AdminLeftbar__list__item__title">
                MANAGE
            </li>
            <!-- product manage -->
            <li class="AdminLeftbar__list__item__dropdown">
                <div class="admin__item__dropdown__show">
                    <div class="dropdown__show__content">
                        <i class="LeftbarIcon fas fa-dolly-flatbed"></i>
                        <span class="AdminLeftbar__list__item__text color--gray">Products</span>
                    </div>
                    <i class="fa fa-angle-left DropdownIcon"></i>
                </div>
                <ul class="admin__item__dropdown__hide">
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/products/table">
                            <div class="admin__dropdown__hide__item__text">Table</div>
                        </a>
                    </li>
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/products/create">
                            <div class="admin__dropdown__hide__item__text">Create</div>
                        </a>
                    </li>
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/products/trash">
                            <div class="admin__dropdown__hide__item__text">Trash</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- user manage -->
            <li class="AdminLeftbar__list__item__dropdown">
                <div class="admin__item__dropdown__show">
                    <div class="dropdown__show__content">
                        <i class="LeftbarIcon fa fa-users"></i>
                        <span class="AdminLeftbar__list__item__text color--gray">Users</span>
                    </div>
                    <i class="fa fa-angle-left DropdownIcon"></i>
                </div>
                <ul class="admin__item__dropdown__hide">
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/users/table">
                            <div class="admin__dropdown__hide__item__text">Table</div>
                        </a>
                    </li>
                    <li class="admin__dropdown__hide__item">
                        <a href="/admin/user">
                            <div class="admin__dropdown__hide__item__text">Trash</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="AdminLeftbar__btn" id="jsLeftbarBtn">
        h
    </div>
</div>